* {
	box-sizing: border-box;
}

html {
	scroll-behavior: smooth;
	height: 100%;
}

body {
	font-family: Arial, Helvetica, sans-serif;
	margin: 0;
	height: 100%;
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	align-items: left;
	justify-content: left;
	gap: 18px;
	padding: 0px;
}

.header-bar {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.website-logo {
	display: flex;
	align-items: flex-start;
}

.website-logo img {
	cursor: pointer;
}

@media (min-width: 640px) {
	.website-logo {
		justify-content: center;
	}
}

.hamburger-menu {
	display: none;
}

@media (max-width: 640px) {
	.hamburger-menu {
		align-items: center;
		display: block;
	}
	.header-nav {
		display: none;
	}
}

#my-popover {
	background-color: transparent;
	border: none;
}

.style-popover {
	display: flex;
	background-color: #ccc8c8;
	flex-direction: column;
	align-items: flex-start;
	height: 100vh;
	width: 240px;
	position: fixed;
	right: 0;
	top: 0;
}

.style-popover a {
	text-decoration: none;
	color: rgba(208, 150, 205, 0.785);
	padding: 10px;
	font-weight: bold;
}

.main-content {
	padding: 60px;
}

header {
	text-align: center;
	justify-content: center;
	flex-direction: row;
}

.header-nav {
	border-top: solid white;
	border-bottom: solid white;
}

#main-nav {
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 100px;
}

#main-nav a {
	text-decoration: none;
	color: rgba(208, 150, 205, 0.785);
	font-weight: bold;
}

#main-nav a:hover {
	transform: scale(1.2);
	transition: 0.3s;
	text-shadow: 0 0 rgb(21, 20, 20);
	border-radius: 30%;
	margin: 2;
}

button {
	cursor: pointer;
	border: none;
}

@media (max-width: 1000px) {
	header {
		text-align: center;
		padding: 20px;
	}

	header h1 {
		font-size: 1.8rem;
	}

	header p {
		font-size: 1rem;
	}

	#main-nav {
		display: flex;
		flex-direction: column;
		gap: 10px;
		align-items: center;
		gap: 2px;
	}

	#main-nav a {
		font-size: 1.2rem;
	}
}

.main-content {
	display: flex;
	flex-direction: column;
	margin: 0 auto;
	gap: 60px;
}

.article-title {
	text-align: center;
}

@media (min-width: 1000px) {
	.article-title {
		text-align: left;
	}
}

.article-image {
	display: flex;
	gap: 20px;
	align-items: center;
	margin-bottom: 40px;
	flex-direction: column;
	justify-content: left;
}

@media (min-width: 1000px) {
	.article-image {
		flex-direction: row;
	}
}

.article-image p {
	max-width: 400px;
}

img {
	border-radius: 10px;
}

.bike-card {
	display: flex;
	gap: 50px;
	align-items: center;
	padding-left: 60px;
}

@media (min-width: 700px) {
	.bike-card img {
		max-width: 450px;
		max-height: auto;
	}
}

@media (max-width: 1000px) {
	.bike-card {
		flex-direction: column;
	}
}

.link {
	text-decoration: none;
}

.video-section {
	display: flex;
	justify-content: center;
	padding: 1rem;
}

.video-wrapper {
	width: 100%;
	max-width: 900px;
	aspect-ratio: 16 / 9;
}

.video-wrapper iframe {
	width: 100%;
	height: 100%;
	border: 0;
}

@media (min-width: 768px) {
	.video-wrapper {
		max-width: 900px;
	}
	.video-section {
		padding: 4rem 0;
	}
}

.gallery-grid {
	display: grid;
	justify-items: center;
	gap: 1rem;
	max-width: 1200px;
	margin: 0 auto;
}

.gallery-label:hover {
	transform: scale(1.2);
	transition: 0.7s ease;
	z-index: 1;
	cursor: pointer;
}

.brand-row {
	display: grid;
	grid-template-columns: repeat(5, 1fr);
	gap: 1rem;
}

.brand-row img {
	width: 100%;
	height: 100%;
	object-fit: cover;
	display: block;
}

.gallery-label {
	position: relative;
	text-align: center;
	overflow: hidden;
	aspect-ratio: 4 / 3;
}

.img-caption {
	padding: 0.4rem;
	color: rgb(255, 255, 255);
	text-align: center;
	background: transparent;
	position: absolute;
	left: 0;
	bottom: 0;
	width: 100%;
}

@media (min-width: 300px) {
	.brand-row {
		grid-template-columns: repeat(1, 1fr);
	}
}

@media (min-width: 800px) {
	.brand-row {
		grid-template-columns: repeat(2, 1fr);
	}
}

@media (min-width: 1200px) {
	.brand-row {
		grid-template-columns: repeat(5, 1fr);
	}
}
.faq-section {
	max-width: 800px;
}

details {
  padding: 0.5em 0.5em 0;
}

summary {
  font-weight: bold;
  margin: -0.5em -0.5em 0;
  padding: 0.5em;
}

details[open] {
  padding: 0.5em;
}

details[open] summary {
  margin-bottom: 0.5em;
}

.site-footer {
	margin-top: auto;
}

.footer-icons {
	display: flex;
	gap: 20px;
	justify-content: center;
}

.footer-icons img {
	width: 34px;
}

.footer-credit {
	display: flex;
	align-items: center;
	justify-content: center;
}

footer .footer-icons img:hover {
	transform: scale(1.3);
	transition: 0.4s;
	cursor: pointer;
}

@media (prefers-color-scheme: dark) {
	body {
		background: #2b2a2a;
		color: #fff;
	}
	.header-nav {
		background-color: #2b2a2a;
	}

	.style-popover {
		background-color: #575555;
	}
	button {
		color: white;
		background-color: #2b2a2a;
	}
	.link {
		color: white;
	}
}

@media (prefers-color-scheme: light) {
	body {
		background-color: rgb(235, 235, 235);
		color: #000;
	}

	button {
		background-color: rgb(235, 235, 235);
	}
	.style-popover {
		background-color: #d5c3bf;
	}
	.style-popover a {
		color: black;
	}
}
