* {
	box-sizing: border-box;
}

html {
	scroll-behavior: smooth;
	height: 100%;
}

body {
	font-family: Arial, Helvetica, sans-serif;
	margin: 0;
	height: 100%;
	background: var(--bg);
	color: var(--text);
	transition: background-color 0.25s ease, color 0.25s ease;
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	align-items: left;
	justify-content: left;
	gap: 18px;
	padding: 0px;
}

.website-logo {
	display: flex;
	align-items: flex-start;
}

.website-logo img {
	cursor: pointer;
}

@media (max-width: 640px) {
	.website-logo {
		justify-content: center;
	}
}

.main-content {
	padding-left: 60px;
}

.switch {
	position: relative;
	display: flex;
	width: 60px;
	height: 30px;
}

.switch input {
	opacity: 0;
	width: 0;
	height: 0;
}

.slider {
	position: absolute;
	cursor: pointer;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background: #d0d0d0;
	border-radius: 30px;
	transition: 0.4s ease;
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 0 8px;
	font-size: 16px;
}

.slider::before {
	content: "";
	position: absolute;
	height: 24px;
	width: 24px;
	left: 2px;
	bottom: 2px;
	background-color: white;
	border-radius: 50%;
	transition: 0.4s ease;
}

input:checked + .slider::before {
	transform: translateX(30px);
}

input:checked + .slider {
	background: #3b3b3b;
}

.sun,
.moon {
	transition: 0.4s ease;
	opacity: 1;
}

input:checked + .slider .sun {
	opacity: 10;
}

input:checked + .slider .moon {
	opacity: 1;
}

.sun {
	opacity: 0;
}
.moon {
	opacity: 10;
}

header {
	text-align: center;
	justify-content: center;
	flex-direction: row;
}

.header-nav {
	border-top: solid white;
	border-bottom: solid white;
}

#main-nav {
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 100px;
}

#main-nav a {
	text-decoration: none;
	color: rgba(208, 150, 205, 0.785);
	font-weight: bold;
}

#main-nav a:hover {
	transform: scale(1.2);
	transition: 0.3s;
	text-shadow: 0 0 rgb(21, 20, 20);
	border-radius: 30%;
	margin: 2;
}

button {
	background-color: rgb(245, 232, 245);
	cursor: pointer;
	border-radius: 230px;
	border: rgba(208, 150, 205, 0.785);
	padding: 4px;
}

button:hover {
	transition: 0.1s;
	transform: scale(1.2);
}

@media (max-width: 1000px) {
	header {
		text-align: center;
		padding: 20px;
	}

	header h1 {
		font-size: 1.8rem;
	}

	header p {
		font-size: 1rem;
	}

	#main-nav {
		display: flex;
		flex-direction: column;
		gap: 10px;
		align-items: center;
		gap: 2px;
	}

	#main-nav a {
		font-size: 1.2rem;
	}
}

.main-content {
	display: flex;
	flex-direction: column;
	margin: 0 auto;
	gap: 60px;
}

.article-title {
	text-align: center;
}

@media (min-width: 1000px) {
	.article-title {
		text-align: left;
	}
}

.article-image {
	display: flex;
	gap: 20px;
	align-items: center;
	margin-bottom: 40px;
	flex-direction: column;
	justify-content: left;
}

@media (min-width: 1000px) {
	.article-image {
		flex-direction: row;
	}
}

.article-image p {
	max-width: 400px;
}

img {
	border-radius: 10px;
}

.bike-card {
	display: flex;
	gap: 50px;
	align-items: center;
	padding-left: 60px;
}

@media (max-width: 1000px) {
	.bike-card {
		flex-direction: column;
	}
}

@media (max-width: 700px) {
	.bike-card img {
		max-width: 450px;
		max-height: auto;
	}
}

.link {
	text-decoration: none;
}

.site-footer {
	margin-top: auto;
}

.footer-icons {
	display: flex;
	gap: 20px;
	justify-content: center;
}

.footer-icons img {
	width: 34px;
}

.footer-credit {
	display: flex;
	align-items: center;
	justify-content: center;
}

footer .footer-icons img:hover {
	transform: scale(1.3);
	transition: 0.4s;
	cursor: pointer;
}

@media (prefers-color-scheme: dark) {
	body {
		background: #2b2a2a;
		color: #fff;
	}
	.header-nav {
		background-color: #2b2a2a;
	}
	button {
		background-color: #2b2a2a;
	}
}

@media (prefers-color-scheme: light) {
	body {
		background-color: rgb(235, 235, 235);
		color: #000;
	}

	button {
		background-color: rgba(216, 200, 215, 0.785);
	}
}
